.devlieryprocess{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}
.process1{
    padding: 10px;
    margin: 10px;
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(43, 7, 110, 1) 49%,
      rgba(0, 212, 255, 1) 100%
    );
    color: #fff;
    height: 40px;
    width: 40px;
   text-align: center;
    border-radius: 50%;
}
.paybutton{
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.payinggrid{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}
.belowprocess{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.MainProcess{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}
.fromdelivery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
input{
    width: 300px;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    border: 1px solid #9a9a9a;
}
.formtitle{
    text-align: center;
}
.summaryimages{
    height: 40px;
    width: 40px;
}
.addressummary{
    margin: 10px;
    padding: 10px;
}
.summarygrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px 5px #aeaeae;
}
.input{
    width: 300px;
    padding: 10px;
    margin: 10px;
}
.summarypara{
    font-size: 8px;
    padding: 10px;
    margin: 10px;
    color: green;
}
.formfont{
    font-size: 16px;
    padding: 10px;
    color: green;
}
@media (max-width:991px) {
    input{
        width: 200px;
    }
    .input{
        width: 200px;
    }
    .fromdelivery{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        padding: 10px;
    }
    .formfont{
        font-size: 8px;
        color: green;
    }
    .from{
        padding: 10px;
        margin: 10px;
    }
}