* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 1px;
}
.footer {
  text-align: center;
}

button {
  padding: 10px;
  margin: 10px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(43, 7, 110, 1) 49%,
    rgba(0, 212, 255, 1) 100%
  );
}

.button {
  padding: 10px;
  margin: 10px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(43, 7, 110, 1) 49%,
    rgba(0, 212, 255, 1) 100%
  );
  list-style: none;
  text-decoration: none;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}
.textalign {
  text-align: center;
}
@media (max-width: 991px) {
  .button {
    padding: 10px;
    margin: 10px;
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(43, 7, 110, 1) 49%,
      rgba(0, 212, 255, 1) 100%
    );
    list-style: none;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-size: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    padding: 3px;
    margin: 3px;
    list-style: none;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 8px;
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(43, 7, 110, 1) 49%,
      rgba(0, 212, 255, 1) 100%
    );
  }
}
