.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.flex {
  display: flex;
  padding: 1rem;
  border-radius: 5px;
}
.size {
  height: 100px;
  width: 100px;
}
.imgs {
  height: 200px;
  width: 300px;
  padding: 10px;
  margin: 10px;
  border-radius: 50px;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  margin: 10px;
}
.green {
  background-color: green;
  color: #fff;
  padding: 5px;
  border-radius: 10px;
}
.rightside {
  padding: 0.4rem;
  letter-spacing: 2px;
}
button {
  padding: 10px;
  margin: 10px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(43, 7, 110, 1) 49%,
    rgba(0, 212, 255, 1) 100%
  );
  border: none;
  color: #fff;
  border-radius: 4px;
  letter-spacing: 2px;
}
.detspan {
  color: green;
}
.price {
  font-size: 26px;
}
.relatedimges {
  height: 200px;
  width: 200px;
}
.RelatedTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.relatedpara {
  padding: 10px;
  margin: 10px;
  letter-spacing: 2px;
}
.relatedtopup {
  padding: 10px;
  margin: 10px;
}
.reltaedtopbelow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.relatedCards {
  box-shadow: 0px 5px 5px 0px #aeaeae;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}
.relatedgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
.buttons{
    font-size: 8px;
    padding: 3px;
    margin: 1px;
    background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(43, 7, 110, 1) 49%,
    rgba(0, 212, 255, 1) 100%
  );
  list-style: none;
  text-decoration: none;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}
@media (max-width: 911px) {
  .para {
    font-size: 8px;
    padding: 0.1rem;
    margin: 0.1rem;
    text-decoration: none;
  }
  .relatedCards {
    box-shadow: 0px 5px 5px 0px #aeaeae;
    padding: 10px;
    margin: 10px;
    height: 200px;
    width: 150px;
  }
  .relatedgrid {
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }

  .relatedimges {
    height: 100px;
    width: 100px;
  }
  .card {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }

  .flex {
    display: flex;
    padding: 0.5rem;
    border-radius: 5px;
  }
  .size {
    height: 50px;
    width: 50px;
  }
  .imgs {
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
  }
  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
  }

  .rightside {
    padding: 0.4rem;
    letter-spacing: 2px;
    font-size: 16px;
  }
}
